# Bot Token
BOT_TOKEN=""

# Guild ID
GUILD_ID=""

# Owner ID
OWNER_ID=""

# Bot Emojis
BOT_CONF=""
BOT_DENY=""
BOT_INFO=""
BOT_DOC=""

# Channels
VC_ONLINE=""
VC_TOTAL=""
MUTES_CHAN=""
STAFF_APP1=""
STAFF_APP2=""
RULE_CHAN=""
PREM_CHAN=""
STAFF_CHAT=""

# Roles
MUTED_ROLE=""
RANK10_ROLE=""

# Database
DB_PATH=""