# Bot Token
BOT_TOKEN=""

# Guild ID
GUILD_ID=""

# User/Bot ID
OWNER_ID=""
DISBOARD_ID=""
MEE6_ID=""
INVTRACK_ID=""

# Bot Emojis
BOT_CONF=""
BOT_DENY=""
BOT_INFO=""
BOT_DOC=""
LIVE_NOW=""

# Channels
BOT_CHAN=""
RULE_CHAN=""
PREM_CHAN=""
STAFF_CHAN=""
STAFF_PROMO=""
FAQ_CHAN=""
RES_CHAN=""
CKQ_CHAN=""
BUMP_CHAN=""
INSIDER_CHAN=""
INVITE_CHAN=""
TWITCH_PROMO=""
BOOST_PROMO=""
GENERAL_CHAN=""
WELCOME_CHAN=""
MCHOICE_CHAN=""
SELFROLE_CHAN=""
LL_CHAN=""
COUNT_CHAN=""
TEST_CHAN=""

# Log Channels
USERUP_CHAN=""
BAN_CHAN=""
JOINLEAVE_CHAN=""
MUTES_CHAN=""
STAFF_APP2=""
CMDLOG_CHAN=""
WARN_CHAN=""
MSGUP_CHAN=""
MSGDEL_CHAN=""
BL_CHAN=""

# Voice Channels
VC_HUB=""
VC_CATEGORY=""
VC_ONLINE=""
VC_TOTAL=""

# Roles
BOT_ROLE=""
STAFF_ROLE=""
RANK5_ROLE=""
RANK10_ROLE=""
RANK15_ROLE=""
RANK20_ROLE=""
RANK25_ROLE=""
RANK30_ROLE=""
CKQ_ROLE=""
BUMP_ROLE=""
VERIFIED_ROLE=""
SEASON_ROLE=""
BOOST_ROLE=""
LIVE_ROLE=""
MCHOICE_ROLE=""
TEST_ROLE=""

# Database
DB_PATH=""

# Self Roles Message IDs
SELF_ROLES_PLATFORM_ID=""
SELF_ROLES_NICKNAME_COLOR_ID=""
SELF_ROLES_AGE_ID=""
SELF_ROLES_REGION_ID=""
SELF_ROLES_GENDER_ID=""
SELF_ROLES_CUSTOM_ID=""