# Bot Token
BOT_TOKEN=""

# Guild ID
GUILD_ID=""

# User/Bot ID
OWNER_ID=""
DISBOARD_ID=""
MEE6_ID=""
INVTRACK_ID=""

# Bot Emojis
BOT_CONF=""
BOT_DENY=""
BOT_INFO=""
BOT_DOC=""

# Channels
VC_ONLINE=""
VC_TOTAL=""
MUTES_CHAN=""
STAFF_APP2=""
RULE_CHAN=""
PREM_CHAN=""
STAFF_CHAT=""
FAQ_CHAN=""
RES_CHAN=""
BOT_CHAN=""
CKQ_CHAN=""
CKQ_ROLE=""
CMD_CHAN=""
WARN_CHAN=""
MSGUP_CHAN=""
BUMP_CHAN=""
INSIDER_CHAN=""
INVITE_CHAN=""
BL_CHAN=""
TWITCH_CHAN=""
USERUP_CHAN=""
BAN_CHAN=""

# Roles
STAFF_ROLE=""
RANK5_ROLE=""
RANK10_ROLE=""
RANK15_ROLE=""
RANK20_ROLE=""
RANK25_ROLE=""
RANK30_ROLE=""
CKQ_ROLE=""
BUMP_ROLE=""
VERIFIED_ROLE=""
MUTED_ROLE=""

# Database
DB_PATH=""
